*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing:border-box;
}
body{
    background: #080808;;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(IMAGE/ron.jpg);
    background-size: cover;
    background-position: center;
}
.my-logo {
    font-family: 'Arial Black', sans-serif; 
    font-size: 3em; 
    color: white; 
    margin: 20px; 
    text-align: left; 
}
.my-logo .first-letter {
    color: #e74c3c; 
}
.my-logo .dot {
    color: white; 
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
align-items:center;
justify-content: space-between;
flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
content: '';
width: 0%;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
